# Telegram Bot Configuration
BOT_TOKEN=123456789:ABCdefGHIjklMNO_pQRstuVWxyZ
CHAT_ID=987654321
OWNER_IDS=111111111,222222222

# SSH Configuration (if using Docker)
PATH_PRIVATEKEY=/app/keys/id_rsa
SERVERS_FILE=/var/telegram-ssh/servers.json